<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
    <h1>Hello to my blog</h1>
    <ul>

    {% for i in posts %}
    <li>
        <h2>{{ i.title }}</h2>
            {% if post.image %}
                <p><img src="{{post.image.url}}"></p>
            {% else %}
               <p></p>
            {% endif %}
        <p>Likes: {{ i.likes }}, Reposts {{ i.reposts }}</p>
    </li>
    {% endfor %}
    </ul>
</body>
</html>